<%- unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
<%- end %>

<div id="branding">
   <div id="branding-left">
    <a id="menu" href="#">menu</a>
  </div>

  <div id="branding-center">
  <!--  <img src='/assets/slime.png' alt='slime' height='20' /> -->
    <h1 class='map-title'></h1>
      <p id="latlng"></p>
  </div>
  <div id="branding-right">
    <a id="go_home" href="#">where am i?</a>
    <%= content_tag "p", id: "bar_data", data: {bar_data: Location.get_marker_data} do %>
    <% end %>
  </div>
</div>



<div id="content">

  <%= flash[:no_location_found] %>
  <div class="limiter">

    <div id="about">

      <p class='description'></p>
      <div id="markerfilters" class="clearfix section">
        <a class="markerfilter selected" href="#all">All</a>
      </div>
    </div>
  </div>
</div>

<%= content_tag 'div', id: "map", class: "map overthrow", data: {locations: Location.limit(10)} do %>
<% end %>
<script src="/assets/script.js"></script>
<!--this is where we'll set varia ble to data, run script to do stuff with data-->


