


    <div id="branding">
      <img src='/assets/slime.png' alt='slime' height='20' />
      <h1 class='map-title'></h1>
    </div>
    <div id="content">
      <div class="limiter">

        <div id="about">

          <p class='description'></p>
          <div id="markerfilters" class="clearfix section">
            <a class="markerfilter selected" href="#all">All</a>
          </div>
        </div>
      </div>
    </div>
    <div id="map" class="map"></div>
    <script src="/assets/script.js"></script>
<!--this is where we'll set varia ble to data, run script to do stuff with data-->


