

  <div class="right">
    <div id="branding"></div>
    <div id="content">
      <div class="limiter">

        <div id="about">
          <img style='float:left;' src='img/logo_retina.png' width='49' height'39' />
          <h1 class='map-title'></h1>
          <p class='description'></p>
          <div id="markerfilters" class="clearfix section">
            <a class="markerfilter selected" href="#all">All</a>
          </div>
        </div>

      </div>
    </div>
    <div id="map" class="map"></div>

    <script src="script.js"></script>

</div>

